[submodule "src/bookmarks"]
	path = src/bookmarks
	url = https://github.com/evandor/submodule-bookmarks.git
	branch = main
[submodule "src/windows"]
	path = src/windows
	url = https://github.com/evandor/submodule-windows.git
	branch = main
[submodule "src/suggestions"]
	path = src/suggestions
	url = https://github.com/evandor/submodule-suggestions.git
	branch = main
[submodule "src/thumbnails"]
	path = src/thumbnails
	url = https://github.com/evandor/submodule-thumbnails.git
	branch = main
[submodule "src/content"]
	path = src/content
	url = https://github.com/evandor/submodule-content.git
	branch = main
[submodule "src/tabsets"]
	path = src/tabsets
	url = https://github.com/evandor/submodule-tabsets.git
	branch = main
[submodule "src/core"]
	path = src/core
	url = https://github.com/evandor/submodule-core.git
	branch = main
[submodule "src/spaces"]
	path = src/spaces
	url = https://github.com/evandor/submodule-spaces.git
	branch = main
[submodule "src/search"]
	path = src/search
	url = https://github.com/evandor/submodule-search.git
	branch = main
[submodule "src/opentabs"]
	path = src/opentabs
	url = https://github.com/evandor/submodule-opentabs.git
	branch = main
[submodule "src/snapshots"]
	path = src/snapshots
	url = https://github.com/evandor/submodule-snapshots.git
	branch = main
[submodule "src/ui"]
	path = src/ui
	url = https://github.com/evandor/submodule-ui.git
	branch = main
[submodule "src/requests"]
	path = src/requests
	url = https://github.com/evandor/submodule-requests.git
	branch = main
