[submodule "src/bookmarks"]
	path = src/bookmarks
	url = https://github.com/evandor/submodule-bookmarks.git
	branch = firefox-extension
[submodule "src/windows"]
	path = src/windows
	url = https://github.com/evandor/submodule-windows.git
	branch = main
[submodule "src/suggestions"]
	path = src/suggestions
	url = https://github.com/evandor/submodule-suggestions.git
	branch = main
