# check quasar.config.js as well!!

STAGE=DEV
HOST="chrome.extension"
LOCALE="en"
GRAVATAR_API_KEY="..."

BACKEND_URL="https://.../app"
PWA_BACKEND_URL="http://localhost:9200"

STRIPE_CUSTOMER_PORTAL="https://billing.stripe.com/p/login/..."

FIREBASE_API_KEY="....-..."
FIREBASE_AUTH_DOMAIN="tabsets-pro-dev.firebaseapp.com"
FIREBASE_PROJECT_ID="tabsets-pro-dev"
FIREBASE_STORAGE_BUCKET="....appspot.com"
FIREBASE_APP_ID="..."
FIREBASE_MESSAGING_SENDER_ID="..."
FIREBASE_DATABASE_URL="https://..."

SENTRY_DSN="https://...@....ingest.de.sentry.io/..."
SENTRY_PROJECT_NAME="tabsets"
SENTRY_AUTH_TOKEN=.==.../.+...+Gc

GRAFANA_LOKI_USER="1188330"
GRAFANA_LOKI_TOKEN=""

GRAFANA_METRICS_USER="2385306"
GRAFANA_METRICS_KEY=""