// app global css in SCSS form
.constrained-width {
  max-width: 1200px;
  margin: 0 auto;
}

.body--light .brightInBrightMode {
  background-color: white;
  color: black;
  //font-size:3px;
}

.body--light .darkBlueInBrightMode {
  color: $blue-10;
}

.body--light .greyBorderBottom {
  border-bottom: 1px solid $bordergrey;
}

.body--dark .darkInDarkMode {
  background-color: black;
  color: white;
}

.body--dark .brightBlueInDarkMode {
  color: lightskyblue;
}

.body--dark .greyBorderBottom {
  border-bottom: 1px solid #121212;
}

.body--dark::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: black;
  z-index: 12;
  overflow: visible;
}

.body--dark::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: grey;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color 0.32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

.body--dark::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

.lightgrey {
  background-color: $lightgrey;
}

.greyBorderTop {
  border-top: 1px solid $bordergrey;
}

.tooltip {
  background-color: white;
  color: black;
  font-size: smaller;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px rgba(0, 0, 0, 0.14),
    0 1px 10px rgba(0, 0, 0, 0.12);
}

.tooltip-small {
  background-color: white;
  color: black;
  font-size: 12px;
  margin: 2px;
  padding: 3px 6px 3px 6px;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px rgba(0, 0, 0, 0.14),
    0 1px 10px rgba(0, 0, 0, 0.12);
}

.tooltip-tour {
  background-color: white;
  color: black;
  font-size: 12px;
  margin: 2px;
  padding: 3px 6px 3px 6px;
  border: 1px solid orange;
  border-radius: 3px;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px rgba(0, 0, 0, 0.14),
    0 1px 10px rgba(0, 0, 0, 0.12);
}

.colorized-appear-enter-active {
  transition: all 2s ease-in;
  transition-delay: 0s;
}

.colorized-appear-enter-from {
  background-color: $warning;
}

.delayed-appear-enter-active {
  transition: all 2s ease-in;
  transition-delay: 1s;
}

.delayed-appear-enter-from,
.delayed-appear-leave-to {
  opacity: 0;
}

#fixed-footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 300px;
  right: 0;
  height: 25px;
  margin-bottom: 0;
}

.active-list-element {
  //font-weight: bold;
  color: $primary;
  //  border-left: 5px solid $primary;
  border-radius: 5px;
  background: #efefef;
  //background: darken(white, 10%);
}

.constrained-width {
  max-width: 1600px;
  margin: 0 auto;
}

// https://microsoftedge.github.io/Demos/custom-highlight-api/
::highlight(search-result-highlight) {
  background-color: yellow;
  color: black;
}

::highlight(yellow-highlight) {
  color: orange;
  text-decoration: underline;
}

// for notification (bottom) not to hide the panel footer
.q-notifications__list {
  margin-bottom: 45px;
}

// shrink

.shrink {
  max-height: 650px;
  transition: all 700ms ease;
}

.shrink.collapsed {
  max-height: 0;
  overflow: hidden;
  background-color: transparent;
}

// shake

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
