// app global css in SCSS form
.constrained-width {
  max-width:1200px;
  margin: 0 auto;
}

.lightgrey {
  background-color: $lightgrey;
}

.greyBorderTop {
  border-top: 1px solid $bordergrey;
}

.tooltip {
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
}
