// app global css in SCSS form
.constrained-width {
  max-width: 1200px;
  margin: 0 auto;
}

.lightgrey {
  background-color: $lightgrey;
}

.greyBorderTop {
  border-top: 1px solid $bordergrey;
}

.tooltip {
  background-color: white;
  color: black;
  font-size: smaller;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
}

.colorized-appear-enter-active {
  transition: all 2s ease-in;
  transition-delay: 0s;
}

.colorized-appear-enter-from {
  background-color: $warning
}

.delayed-appear-enter-active {
  transition: all 2s ease-in;
  transition-delay: 1s
}

.delayed-appear-enter-from,
.delayed-appear-leave-to {
  opacity: 0
}

#fixed-footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 300px;
  right: 0;
  height: 25px;
  margin-bottom: 0;
}

.active-list-element {
  //font-weight: bold;
  color: $primary;
  //  border-left: 5px solid $primary;
  border-radius: 5px;
  background: #efefef;
  //background: darken(white, 10%);
}

.constrained-width {
  max-width: 1600px;
  margin: 0 auto;
}

// https://microsoftedge.github.io/Demos/custom-highlight-api/
::highlight(search-result-highlight) {
  background-color: yellow;
  color: black;
}

// for notification (bottom) not to hide the panel footer
.q-notifications__list {
  margin-bottom: 45px
}

// shrink

.shrink {
  max-height:650px;
  transition:all 700ms ease;
}

.shrink.collapsed {
  max-height:0;
  overflow:hidden;
  background-color:transparent;
}
