// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

// Set the default font-family
//$typography-font-family : 'Montserrat', sans-serif !default;

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: hsl(228, 80%, 20%);
$secondary: hsl(168, 50%, 10%);
$accent: hsl(108, 80%, 20%);

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #26661A;
$negative: #c10015;
$info: #1B158F;
$warning: #f3ba20;

$lightgrey: #efefef;
$bordergrey: #e0e0e0;

$separator: #e0e0e0;

// dark mode (dm-)
$dm-bg-dark: hsl(0, 0%, 0%);
$dm-bg: hsl(0, 0%, 5%);
$dm-bg-light: hsl(0, 0%, 10%);

$dm-text-default: hsl(0, 0%, 90%);
$dm-text-muted: hsl(0, 0%, 60%);

// light mode (lm-)
$lm-bg-dark: hsl(0, 0%, 90%);
$lm-bg: hsl(0, 0%, 95%);
$lm-bg-light: hsl(0, 0%, 100%);

$lm-text-default: hsl(0, 0%, 10%);
$lm-text-muted: hsl(0, 0%, 40%);


//$body-font-size : 14px;
//$dark-page: #333;

//$body-font-size: 16px;

$atomic-tangerine: #ff934f;
$aspargus: #698f3f;
$midnight-green: #095256;
$teal: #087f8c;
$indian-red: #eb5160;
$xanthous: #ffba49;
$mountbatten-pink: #9a7aa0;
$columbia-blue: #c0d6df;
$alice-blue: #dbe9ee;
$celadon: #b8ebd0;
$grey-white: #fefdff;

.source-link {
  color: $teal;
  text-decoration: none;

  &:hover {
    color: $teal;
  }
}

.card-show-button {
  color: $atomic-tangerine;
  background-color: rgba($atomic-tangerine, 0.1);

  &:hover {
    background-color: transparent !important;
    color: $aspargus;
    font-weight: bold;
    box-shadow: none !important;
  }
}
.atomic-tangerine {
  color: $atomic-tangerine;
}

.midnight-green {
  color: $midnight-green;
}

.indian-red {
  color: $indian-red;
}

.app-logo-text {
  font-family: 'Inter', cursive;
  color: #191919;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.12rem;
}

@media (max-width: 600px) {
  // für kleinere Bildschirme Untertitel ausblednen oder kleiner machen
  .app-subtitle-welcome {
    display: none;
  }
}

.app-card-title-welcome {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  color: #191919;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -0.01rem;
}

.app-desc-welcome {
  font-family: 'Inter', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

@media (max-width: 430px) {
  .app-desc-welcome {
    font-size: 2rem;
  }
}

.gradient-text {
  background: linear-gradient(to right, $teal, $aspargus);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-desc-text-welcome {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: grey;
}

@media (max-width: 430px) {
  .app-desc-text-welcome {
    font-size: 0.9rem;
  }
}

.app-ext-welcome {
  font-family: 'Inter', sans-serif;

  font-size: 2.625rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

@media (max-width: 430px) {
  .app-ext-welcome {
    font-size: 1.3rem;
  }
}

.app-ext-text-welcome {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: grey;
}

@media (max-width: 430px) {
  .app-ext-text-welcome {
    font-size: 0.7rem;
  }
}

.subtitle {
  font-family: 'Lobster', cursive;
  font-size: 1.1rem;
  font-style: italic;
  opacity: 0.7;
  margin-left: -5px;
}

.bg-image {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); // abdunkeln
    z-index: 0;
  }
}

