// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

// Set the default font-family
//$typography-font-family : 'Montserrat', sans-serif !default;

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #46346B;
$secondary: #606B34;
$accent: #7740EB;

$dark: #575761;
$dark-page: #121212;

$positive: #1ea01e;
$negative: #f26101;
$info: #6B6134;
$warning: #EBCA3F;

$lightgrey: #efefef;
$bordergrey: #e0e0e0;

$separator: #e0e0e0;

//$body-font-size : 14px;
//$dark-page: #333;

$body-font-size: 16px;
