/* Global CSS used within your BEX. This is not preprocessed so this has to be pure CSS. */

/* overlay logic */
.tabsets_overlay_container {
  position: relative;
  //border:10px solid yellow;
}

.clipping-area {
  all: initial;
  box-sizing: border-box;
  position: fixed;
  border: gray 3px dashed;
  border-radius: 15px;
  box-shadow: 0 0 0 50000px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  opacity: 80%;
  z-index: 2147483646;
}


/* vertical crosshair */
.v-crosshair {
  all: initial;
  background-color: transparent;
  box-sizing: border-box;
  position: fixed;
  border-right: dotted 2px gray;

  /*border-top: 3px solid gray;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;*/

  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2147483646;
}

/* horizontal crosshair */
.h-crosshair {
  all: initial;
  background-color: transparent;
  box-sizing: border-box;
  position: fixed;
  z-index: 2147483646;
  border-bottom: dashed 2px green;

  /*border-top: 3px solid green;
  border-left: 3px solid green;
  border-right: 3px solid green;*/
  top: 0;
  left: 0;
  right:0;
}
